version: "3.9"

services:
  web:
    build: .
    container_name: flash_editor
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./media:/app/media
    restart: always
